[run]
branch = True
include = */clcache/*
omit =
    tests/*

# pytest-cov:
#   "Note that this plugin controls some options and setting the option in the
#   config file will have no effect. These include specifying source to be
#   measured (source option) and all data file handling (data_file and parallel
#   options)."
